<div class="login-status-header">

    <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>

    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        <span class="welcome">Welcome {{ userFullName }}!</span>
    </div>


    <div *ngIf="isAuthenticated" class="dropdown">
        <i class="fas fa-user-circle dropdown-toggle account" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <button routerLink="/admin" class="dropdown-item">
                <i class="fas fa-cogs"></i>
                <span>Admin</span>
            </button>

            <button routerLink="/my-profile" class="dropdown-item">
                <i class="far fa-id-card"></i>
                <span>Profile</span>
            </button>

            <button routerLink="/order-history" class="dropdown-item">
                <i class="fas fa-chart-bar"></i>
                <span>Order</span>
            </button>

            <button (click)="logout()" class="dropdown-item">
                <i class="fas fa-power-off"></i>
                <span>Logout</span>
            </button>

        </div>
    </div>

</div>