<!-- MAIN CONTENT-->
<div class="main-content page-m">
    <div class="section-content section-content-p30 e-spc">
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
            <div class="container-fluid">
                <!-- Customer -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" placeholder="First Name">

                                <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
                                    <div *ngIf="firstName?.errors?.required ||  firstName?.errors?.notOnlyWhitespace">
                                        First name {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="firstName?.errors?.minlength">
                                        First name {{ errMessage.validLength }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" placeholder="Last Name">

                                <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
                                    <div *ngIf="lastName?.errors?.required || lastName?.errors?.notOnlyWhitespace">
                                        Last name {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="lastName?.errors?.minlength">
                                        Last name {{ errMessage.validLength }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="email" type="text" placeholder="Email Address">

                                <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                                    <div *ngIf="email?.errors?.required">
                                        Email {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="email?.errors?.pattern">
                                        Email {{ errMessage.validEmail }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Shipping Address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-space">
                                <select name="countryInput" formControlName="country" (change)="getCity()">
                                    <option value="" disabled selected hidden>Country</option>
                                    <option *ngFor="let country of countries" [ngValue]=(country)>
                                        {{ country.name }}
                                    </option>
                                </select>

                                <div *ngIf="country?.invalid && (country?.dirty || country?.touched)" class="alert alert-danger">
                                    <div *ngIf="country?.errors?.required">
                                        Country {{ errMessage.isRequired }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="city">
                                    <option value="" disabled selected hidden>City</option>
                                    <option *ngFor="let city of cities" [ngValue]=(city)>
                                        {{ city.name }}
                                    </option>
                                </select>
                                <div *ngIf="city?.invalid && (city?.dirty || city?.touched)" class="alert alert-danger">
                                    <div *ngIf="city?.errors?.required">
                                        City {{ errMessage.isRequired }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="district" type="text" placeholder="District / Provine">

                                <div *ngIf="district?.invalid && (district?.dirty || district?.touched)" class="alert alert-danger">
                                    <div *ngIf="district?.errors?.required || district?.errors?.notOnlyWhitespace">
                                        District / Provine {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="district?.errors?.minlength">
                                        District / Provine {{ errMessage.validLength }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="street" type="text" placeholder="Street">

                                <div *ngIf="street?.invalid && (street?.dirty || street?.touched)" class="alert alert-danger">
                                    <div *ngIf="street?.errors?.required || street?.errors?.notOnlyWhitespace">
                                        Street {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="street?.errors?.minlength">
                                        Street {{ errMessage.validLength }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text" placeholder="Zip Code / Postal Code">

                                <div *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)" class="alert alert-danger">
                                    <div *ngIf="zipCode?.errors?.required || zipCode?.errors?.notOnlyWhitespace">
                                        Zip code {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="zipCode?.errors?.minlength">
                                        Zip code {{ errMessage.validLength }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option value="" disabled selected hidden>Type of Card</option>
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="cardType?.invalid && (cardType?.dirty || cardType?.touched)" class="alert alert-danger">
                                    <div *ngIf="cardType?.errors?.required">
                                        Card type {{ errMessage.isRequired }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="cardName" type="text" placeholder="Name on card">

                                <div *ngIf="cardName?.invalid && (cardName?.dirty || cardName?.touched)" class="alert alert-danger">
                                    <div *ngIf="cardName?.errors?.required ||cardName?.errors?.notOnlyWhitespace">
                                        Name on card {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="cardName?.errors?.minlength">
                                        Name on card {{ errMessage.validLength }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text" placeholder="Card number">

                                <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)" class="alert alert-danger">
                                    <div *ngIf="cardNumber?.errors?.required">
                                        Card number {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="cardNumber?.errors?.pattern">
                                        Card number must be 16 digits long
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text" placeholder="Security Code">

                                <div *ngIf="securityCode?.invalid && (securityCode?.dirty || securityCode?.touched)" class="alert alert-danger">
                                    <div *ngIf="securityCode?.errors?.required">
                                        Security number {{ errMessage.isRequired }}
                                    </div>
                                    <div *ngIf="securityCode?.errors?.pattern">
                                        Security number must be 4 digits long
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"> <label class="date">Expiration Date</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">{{ month }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAnsYears()">
                                    <option *ngFor="let year of creditCardYears">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <h4>Total Quantity: {{ totalQuantity }}</h4>
                    <h4>Total Price: ${{ totalPrice }}</h4>
                </div>
                <div class="text-center">
                    <button class="btn btn-info btn-lg">Purchase</button>
                </div>
            </div>
        </form>
    </div>
</div>