<!-- MAIN CONTENT-->
<div class="main-content page-m">
    <div class="section-content section-content-p30 e-spc">
        <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
            <div class="container-fluid">
                <!-- Customer -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" placeholder="First Name">

                                <div *ngIf="checkoutFormGroup.get('customer')?.get('firstName')?.invalid && 
                                            (checkoutFormGroup.get('customer')?.get('firstName')?.dirty ||
                                            checkoutFormGroup.get('customer')?.get('firstName')?.touched)" class="alert alert-danger">
                                    <div *ngIf="checkoutFormGroup.get('customer')?.get('firstName')?.hasError('required') ||
                                                checkoutFormGroup.get('customer')?.get('firstName')?.hasError('notOnlyWhitespace')">
                                        First name is required
                                    </div>
                                    <div *ngIf="checkoutFormGroup.get('customer')?.get('firstName')?.hasError('minlength')">
                                        First name must be at least 2 character long
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" placeholder="Last Name">

                                <div *ngIf="checkoutFormGroup.get('customer')?.get('lastName')?.invalid && 
                                            (checkoutFormGroup.get('customer')?.get('lastName')?.dirty ||
                                            checkoutFormGroup.get('customer')?.get('lastName')?.touched)" class="alert alert-danger">
                                    <div *ngIf="checkoutFormGroup.get('customer')?.get('lastName')?.hasError('required') ||
                                            checkoutFormGroup.get('customer')?.get('lastName')?.hasError('notOnlyWhitespace')">
                                        Last name is required
                                    </div>
                                    <div *ngIf="checkoutFormGroup.get('customer')?.get('lastName')?.hasError('minlength')">
                                        Last name must be at least 2 character long
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="email" type="text" placeholder="Email Address">

                                <div *ngIf="checkoutFormGroup.get('customer')?.get('email')?.invalid && 
                                            (checkoutFormGroup.get('customer')?.get('email')?.dirty ||
                                            checkoutFormGroup.get('customer')?.get('email')?.touched)" class="alert alert-danger">
                                    <div *ngIf="checkoutFormGroup.get('customer')?.get('email')?.hasError('required')">
                                        Email is required
                                    </div>
                                    <div *ngIf="checkoutFormGroup.get('customer')?.get('email')?.hasError('pattern')">
                                        Email must be a valid email address format
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Shipping Address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="country" (change)="getCity()">
                                    <option value="" disabled selected hidden>Country</option>
                                    <option *ngFor="let country of countries" [ngValue]=(country)>
                                        {{ country.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="city">
                                    <option value="" disabled selected hidden>City</option>
                                    <option *ngFor="let city of cities" [ngValue]=(city)>
                                        {{ city.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="district" type="text" placeholder="District / Provine">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text" placeholder="Zip Code / Postal Code">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Credit Card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input-space">
                                <input formControlName="cardName" type="text" placeholder="Name on card">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-8">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text" placeholder="Card number">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text" placeholder="Security Code">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4"> <label class="date">Expiration Date</label></div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">{{ month }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAnsYears()">
                                    <option *ngFor="let year of creditCardYears">{{ year }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-area">
                    <h3>Review Your Order</h3>
                    <b>Total Quantity: {{ totalQuantity }}</b>
                    <h4>Shipping: FREE</h4>
                    <B>Total Price: ${{ totalPrice }}</B>
                </div>
                <div class="text-center">
                    <button class="btn btn-info btn-lg">Purchase</button>
                </div>
            </div>
        </form>
    </div>
</div>