/* 
 * ----------------------------
 * Product Details
 * ----------------------------
 */

.price {
    margin: 15px 0 0;
    font-weight: 800;
    color: black
}

.detail-section {
    margin-top: 60px
}

.product-details div {
    text-align: center;
}

.product-details-box {
    max-width: 55vw;
    position: relative;
}

.product-details-box>div>h3 {
    font-weight: bold;
}

.price-box {
    position: absolute;
    top: 45px;
    right: 225px;
    display: flex;
    flex-direction: column;
}

.price-box>button {
    margin-top: 30px;
}

.star {
    color: #ffc107;
    position: relative;
    top: -62px;
    font-size: x-large;
}

.star>span {
    color: black;
    padding-right: 25px;
}