<div class="main-content min-vh-72">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row product-details-box">
                <div>
                    <img src="{{ product?.imageUrl }}" class="img-responsive" width="200px">
                    <h3>{{ product?.name }}</h3>
                    <div class="price price-box">
                        <h5>Status: In stock</h5>
                        <h5>Price: ${{product?.unitPrice}}</h5>
                        <button (click)="addToCart()" class="btn btn-primary btn-lg">Add to cart</button>
                    </div>
                    <br>
                    <hr>
                    <h4>Product Description</h4>
                    <p>
                        {{product?.description}}
                    </p>
                    <a routerLink="/products">Back to Product List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-review-product></app-review-product>