<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">
                <div class="card">
                    <div class="header">
                        <h2>Comments {{ reviews?.length }}</h2>
                    </div>
                    <div *ngIf="reviews?.length != 0" class="body">
                        <ul class="comment-reply list-unstyled">
                            <li *ngFor="let review of reviews" class="row clearfix">
                                <div class="icon-box col-md-2 col-4"><img class="img-fluid img-thumbnail p-0" src="{{ review.customer.avatar }}" alt="Awesome Image"></div>
                                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">{{ review.customer.firstName}} {{ review.customer.lastName}}</h5>
                                    <p>{{ review.content }}</p>
                                    <ul class="list-inline">
                                        <li *ngIf="review.lastUpdated === null"><a href="javascript:void(0);">{{ review.dateCreated | date: 'short' }}</a></li>
                                        <li *ngIf="review.lastUpdated !== null"><a href="javascript:void(0);">{{ review.lastUpdated | date: 'short' }}</a></li>
                                        <li *ngIf="isAuthenticated && email === review.customer.email"><a href="javascript:void(0);" (click)="openEditContent(review)" style="color: blue;" data-toggle="modal" data-target="#editContentModal">Edit</a></li>
                                        <li *ngIf="isAuthenticated && email === review.customer.email"><a href="javascript:void(0);" (click)="openDeleteModal(review)" style="color: red;" data-toggle="modal" data-target="#deleteModal">Delete</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="reviews?.length != 0" class="footer-pagination">
                        <br>
                        <div class="row paging-row">
                            <div class="col-md-6 paging-row">
                                <div class="items">
                                    <label>Page Size</label>
                                    <select (change)="updatePageSize($any($event.target).value)">
                                        <option selected>3</option>
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>All</option>
                                    </select>
                                </div>
                                <br>
                                <div class="count-element">
                                    <p>Showing {{ startElement }} to {{ endElement }} of {{ totalElements }} items</p>
                                </div>
                            </div>
                            <div class="col-md-6 paging-row">
                                <div class="goto-page" style="text-align: right;">
                                    <span>Go to page:</span>
                                    <input [formControl]="inputPage" (keyup)="goToPage()" maxlength="2" pa class="go-page" type="text">
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-9">
                                        <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements" [maxSize]="4" [boundaryLinks]="true" (pageChange)="listReviews()">
                                        </ngb-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div *ngIf="!isAuthenticated">
                        <div class="header">
                            <h2>Please login to review product</h2>
                            <small><a routerLink="/login">Login here</a></small>
                        </div>
                    </div>
                    <div *ngIf="isAuthenticated">
                        <div class="header">
                            <h2>Leave your review about the product</h2>
                            <small>Your email address will not be published</small>
                        </div>
                        <div class="body">
                            <div class="comment-form">
                                <form [formGroup]="reviewFormGroup" (ngSubmit)="onReviewSubmit()" class="row clearfix">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea autofocus formControlName="content" rows="4" class="form-control no-resize" placeholder="Please type what you want..."></textarea>
                                                <div *ngIf="content?.invalid && (content?.dirty || content?.touched)" class="alert alert-danger mt-1">
                                                    <div *ngIf="content?.errors?.required || content?.errors?.notOnlyWhitespace">
                                                        Content {{ errMessage.isRequired }}
                                                    </div>
                                                    <div *ngIf="content?.errors?.minlength">
                                                        Content {{ errMessage.validMinLength }}
                                                    </div>
                                                    <div *ngIf="content?.errors?.maxlength">
                                                        Content {{ errMessage.validMaxLength }}
                                                    </div>
                                                    <div *ngIf="content?.errors?.badwordConstraint">
                                                        Content {{ errMessage.badwordConstraint }}
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-block btn-primary">SUBMIT REVIEW</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editContentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form [formGroup]="editReviewFromGroup" (ngSubmit)="onEditReviewSubmit()">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Review:</label>
                        <textarea autofocus formControlName="editContent" class="form-control" id="message-text"></textarea>
                        <div *ngIf="editContent?.invalid && (editContent?.dirty || editContent?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="editContent?.errors?.required || editContent?.errors?.notOnlyWhitespace">
                                Content {{ errMessage.isRequired }}
                            </div>
                            <div *ngIf="editContent?.errors?.minlength">
                                Content {{ errMessage.validMinLength }}
                            </div>
                            <div *ngIf="editContent?.errors?.maxlength">
                                Content {{ errMessage.validMaxLength }}
                            </div>
                            <div *ngIf="editContent?.errors?.badwordConstraint">
                                Content {{ errMessage.badwordConstraint }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="edit-close-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this review?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="deleteReviewConfirm()" type="button" class="btn btn-danger" data-dismiss="modal">Yes, I'm sure</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#exampleModal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>