<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="4%">Index</th>
                            <th mat-sort-header="trackingNumber" width="34%">Order Tracking Number</th>
                            <th mat-sort-header="address" width="20%">Address</th>
                            <th mat-sort-header="price" width="10%">Total Price</th>
                            <th mat-sort-header="quantity" width="4%">Quantity</th>
                            <th mat-sort-header="status" width="10%">Status</th>
                            <th mat-sort-header="date" width="18%">Date Create</th>
                        </tr>
                    </thead>

                    <tbody class="order-history">
                        <tr *ngFor="let tempOrderHistory of orderHistoryList; let i = index" [attr.data-index]="i">
                            <td>{{i+1}}</td>
                            <td (click)="openOrderItem(tempOrderHistory)" matTooltip="{{ tempOrderHistory.orderTrackingNumber }}" data-toggle="modal" data-target="#orderDetailModal">
                                {{ tempOrderHistory.orderTrackingNumber }}
                            </td>
                            <td matTooltip="{{ tempOrderHistory.address.street }}, {{ tempOrderHistory.address.district }}, {{ tempOrderHistory.address.city}}, {{ tempOrderHistory.address.country }}">
                                {{ tempOrderHistory.address.city }}, {{ tempOrderHistory.address.country }}
                            </td>
                            <td matTooltip="{{ tempOrderHistory.totalPrice | currency: 'USD' }}">
                                {{ tempOrderHistory.totalPrice | currency: 'USD' }}
                            </td>
                            <td matTooltip="{{ tempOrderHistory.totalQuantity }}">
                                {{ tempOrderHistory.totalQuantity }}
                            </td>
                            <td *ngIf="tempOrderHistory.status === 0" matTooltip="Canceled" class="status-cancel">
                                Canceled
                            </td>
                            <td *ngIf="tempOrderHistory.status === 1" matTooltip="Pending" class="status-pending">
                                Pending
                            </td>
                            <td *ngIf="tempOrderHistory.status === 2" matTooltip="Processing" class="status-process">
                                Processing
                            </td>
                            <td *ngIf="tempOrderHistory.status === 3" matTooltip="Completed" class="status-complete">
                                Completed
                            </td>
                            <td matTooltip="{{ tempOrderHistory.dateCreated | date: 'short' }}">
                                {{ tempOrderHistory.dateCreated | date: 'short' }}
                            </td>
                            <td class="td-icon" *ngIf="tempOrderHistory.status === 0">
                                <i data-toggle="modal" data-target="#reOrderModal" (click)="openOrderModal(tempOrderHistory)" matTooltip="Re-Order" class="order-icon reOrder-icon fas fa-cart-arrow-down"></i>
                            </td>
                            <td class="td-icon" *ngIf="tempOrderHistory.status === 1">
                                <i data-toggle="modal" data-target="#cancelOrderModal" (click)="openOrderModal(tempOrderHistory)" matTooltip="Cancel Order" class="order-icon cancel-icon fas fa-backspace"></i>
                            </td>
                            <td class="td-icon" *ngIf="tempOrderHistory.status === 2">
                                <i data-toggle="modal" data-target="#completeOrderModal" (click)="openOrderModal(tempOrderHistory)" matTooltip="Complete Order" class="order-icon complete-icon fas fa-check-square"></i>
                            </td>
                            <td class="td-icon" *ngIf="tempOrderHistory.status === 3">
                                <i class="order-icon heart-icon fas fa-grin-hearts"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- if order history is empty then display a message -->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders found.
            </div>

            <div *ngIf="orderHistoryList?.length != 0" class="footer-pagination">
                <br>
                <div class="row paging-row">
                    <div class="col-md-6 paging-row">
                        <div class="items">
                            <label>Page Size</label>
                            <select (change)="updatePageSize($any($event.target).value)">
                                <option selected>5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>30</option>
                                <option>All</option>
                            </select>
                        </div>
                        <div class="count-element">
                            <p>Showing {{ startElement }} to {{ endElement }} of {{ totalElements }} items</p>
                        </div>
                    </div>
                    <div class="col-md-6 paging-row">
                        <div class="goto-page">
                            <span>Go to page:</span>
                            <input [formControl]="inputPage" (keyup)="goToPage()" maxlength="2" pa class="go-page" type="text">
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements" [maxSize]="4" [boundaryLinks]="true" (pageChange)="listOrderHistory()">
                                </ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Order Details -->
<div class="modal fade" id="orderDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>

                    <tbody class="order-history">
                        <tr *ngFor="let orderItem of orderItems">
                            <td>
                                <img src="{{ orderItem.imageUrl }}" class="img-responsive" width="150px">
                            </td>
                            <td>
                                {{ orderItem.name }}
                            </td>
                            <td>
                                {{ orderItem.unitPrice }}
                            </td>
                            <td>
                                X {{ orderItem.quantity }}
                            </td>
                            <td>
                                {{ orderItem.unitPrice * orderItem.quantity }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cancel Order -->
<div *ngIf="!!order" class="modal fade" id="cancelOrderModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cancel Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this order?<br> Order tracking number: {{ order.orderTrackingNumber }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelOrder(order)">Yes, I'm sure</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Re-Order -->
<div *ngIf="!!order" class="modal fade" id="reOrderModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Re-Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you want to re-Order?<br> Order tracking number: {{ order.orderTrackingNumber }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reOrder(order)">Yes, I want</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Complete Order -->
<div *ngIf="!!order" class="modal fade" id="completeOrderModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Complete Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you want to complete this order?<br> Order tracking number: {{ order.orderTrackingNumber }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="completeOrder(order)">Yes, I want</button>
            </div>
        </div>
    </div>
</div>