/* 
 * ----------------------------
 * Order History
 * ----------------------------
 */

.table {
    margin: 0;
    max-width: 76vw;
}

table.table.table-bordered {
    border: 1px solid #ccc;
    background: #fff
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6
}

table.table.table-bordered th {
    background-color: #0da8e4;
    color: #fff;
    font-size: 14px;
    padding: 7px
}

.table-responsive {
    padding-right: 1px
}

.items select {
    width: 66px;
    height: 40px;
    border-radius: 40px;
    padding-left: 15px;
    margin-bottom: 10px;
    outline: 0;
    margin-left: 5px
}

table .items>.no-gutters {
    width: 200px;
}

.order-history td:hover {
    cursor: pointer;
}

.td-icon {
    display: flex;
    justify-content: center;
    height: 49.5px;
}

.order-icon {
    font-size: larger;
}

.cancel-icon {
    color: red;
}

.reOrder-icon {
    color: #0da8e4;
}

.complete-icon {
    color: rgb(171, 240, 69);
}

.heart-icon {
    color: #d4619b;
}

.status-cancel {
    color: #dc3545;
    font-size: medium;
    font-weight: bold;
}

.status-pending {
    color: #0dcaf0;
    font-size: medium;
    font-weight: bold;
}

.status-process {
    color: #0d6efd;
    font-size: medium;
    font-weight: bold;
}

.status-complete {
    color: #198754;
    font-size: medium;
    font-weight: bold;
}

.go-page {
    max-height: 38px;
    max-width: 36px;
    border: 1px solid black;
    border: 2px;
    padding: 8px 8px;
    margin-left: 16px;
    border-radius: 4px;
    margin-right: 32px;
}

.paging-row {
    display: flex;
    max-width: 78vw;
}

.paging-row:first-child {
    justify-content: flex-start;
}

.paging-row:last-child {
    justify-content: flex-end;
}

.count-element {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-left: 32px;
}

.count-element>p {
    line-height: 40px;
}