<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h3>Your Orders</h3>

            <div *ngIf="orderHistoryList.length > 0">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Order Tracking Number</th>
                            <th>Address</th>
                            <th>Total Price</th>
                            <th>Total Quantity</th>
                            <th>Status</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody class="order-history">
                        <tr *ngFor="let tempOrderHistory of orderHistoryList">
                            <td>
                                {{ tempOrderHistory.orderTrackingNumber }}
                            </td>
                            <td>
                                {{ tempOrderHistory.address.city }}, {{ tempOrderHistory.address.country }}
                            </td>
                            <td>
                                {{ tempOrderHistory.totalPrice | currency: 'USD' }}
                            </td>
                            <td>
                                {{ tempOrderHistory.totalQuantity }}
                            </td>
                            <td>
                                Status
                            </td>
                            <td>
                                {{ tempOrderHistory.dateCreated | date: 'short' }}
                            </td>
                            <td>
                                ok
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- if order history is empty then display a message -->
            <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12" role="alert">
                No orders found.
            </div>

        </div>
    </div>
</div>