<div class="main-content">
    <div class="section-content section-content-p30">
        <h4 *ngIf="!categoryName && !keyword">All products</h4>
        <h4 *ngIf="!!categoryName">{{ categoryName }}</h4>
        <h4 *ngIf="!!keyword">Searching for: {{ keyword }}</h4>
        <hr>
        <div class="container-fluid">
            <div class="row">

                <!-- Loop over the Products -->
                <div class="col-md-3" *ngFor="let product of products">
                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}">
                            <img src="{{ product.imageUrl }}" class="img-responsive">
                        </a>
                        <h1>
                            <a routerLink="/products/{{ product.id }}">{{ product.name }}</a>
                        </h1>
                        <div class="price">{{ product.unitPrice }} $</div>
                        <button (click)="addToCart(product)" class="btn btn-primary btn-md">Add to cart</button>
                    </div>
                </div>

                <!-- If Products is empty, then display message -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12">
                    No product found.
                </div>

            </div>

            <div *ngIf="products?.length != 0" class="footer-pagination">
                <div class="row">
                    <div class="col-md-3">
                        <div class="items">
                            <label>Page Size</label>
                            <select (change)="updatePageSize($any($event.target).value)">
                                <option selected>8</option>
                                <option>16</option>
                                <option>24</option>
                                <option>32</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9">
                                <ngb-pagination [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalElements" [maxSize]="4" [boundaryLinks]="true" (pageChange)="listProduct()">
                                </ngb-pagination>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>