<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="cartItems?.length != 0; else emptyCart">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="20%">Product Image</th>
                            <th width="50%">Product Detail</th>
                            <th width="30%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cartItem of cartItems ">
                            <td><img src="{{ cartItem.imageUrl }}" class="img-responsive" width="150px"></td>
                            <td>
                                <h3>{{ cartItem.name }}</h3>
                                <p>{{ cartItem.description }}</p>
                                <h6>${{ cartItem.unitPrice }}</h6>
                            </td>
                            <td>
                                <div class="items">
                                    <h6>Quantity</h6>
                                    <div class="row no-gutters">
                                        <div *ngIf="cartItem.quantity > 1" class="col">
                                            <button (click)="decrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <div *ngIf="cartItem.quantity === 1" class="col" data-toggle="modal" data-target="#removeCartItem">
                                            <button (click)="openRemoveModal(cartItem)" class="btn btn-primary btn-sm">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <div class="col ml-4 mr-2">
                                            {{ cartItem.quantity }}
                                        </div>
                                        <div class="col">
                                            <button (click)="incrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-8"></div>
                                    </div>
                                    .
                                </div>
                                <h6>Sub-total ${{ (cartItem.unitPrice * cartItem.quantity).toFixed(2) }}</h6>
                                <button (click)="openRemoveModal(cartItem)" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#removeCartItem">Remove</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td><b>Total Quantity: {{ totalQuantity }}</b>
                                <p>Shipping FREE</p>
                                <b>Total Price: ${{ totalPrice }}</b><br>
                                <a href="checkout-page.html" class="primary-btn">Checkout</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #emptyCart>
                <div class="alert alert-warning col-md-12" role="alert">
                    Your shopping cart is empty.
                </div>
            </ng-template>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="deleteMode" class="modal fade" id="removeCartItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Cart Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delele item {{ deleteCartItem.name }}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)=remove(deleteCartItem) type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>