<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="cartItems?.length != 0; else emptyCart">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="20%">Product Image</th>
                            <th width="50%">Product Detail</th>
                            <th width="30%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cartItem of cartItems ">
                            <td class="product-img"><img src="{{ cartItem.imageUrl }}" class="img-responsive" width="150px"></td>
                            <td>
                                <h4 class="product-name" routerLink="/products/{{ cartItem.id }}" matTooltip="{{ cartItem.description }}">{{ cartItem.name }}</h4>
                                <div class="product-info">
                                    <h6>Category: <strong>{{ cartItem.category.name }}</strong></h6>
                                    <h6>Status: <strong>In stock</strong></h6>
                                    <h6>Unit price: <strong>${{ cartItem.unitPrice }}</strong></h6>
                                </div>
                            </td>
                            <td>
                                <div class="items">
                                    <h6>Quantity</h6>
                                    <div class="row no-gutters">
                                        <div *ngIf="cartItem.quantity > 1" class="col">
                                            <button (click)="decrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <div *ngIf="cartItem.quantity === 1" class="col">
                                            <button (click)="openRemove(cartItem)" class="btn btn-primary btn-sm">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <div class="col ml-4 mr-2">
                                            {{ cartItem.quantity }}
                                        </div>
                                        <div class="col">
                                            <button (click)="incrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-8"></div>
                                    </div>
                                    .
                                </div>
                                <h6>Sub-total ${{ (cartItem.unitPrice * cartItem.quantity).toFixed(2) }}</h6>
                                <button (click)="openRemove(cartItem)" class="btn btn-danger btn-sm">Remove</button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td><b>Total Quantity: {{ totalQuantity }}</b>
                                <p>Shipping FREE</p>
                                <b>Total Price: ${{ totalPrice }}</b><br>
                                <a routerLink="/checkout" class="primary-btn">Checkout</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ng-template #emptyCart>
                <div class="alert alert-warning col-md-12" role="alert">
                    Your shopping cart is empty.
                </div>
            </ng-template>
        </div>
    </div>
</div>