<div *ngIf="isAdmin === 1" class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li>
                <a routerLink="/admin-category" routerLinkActive="active-link">
                    <i class="fab fa-buffer"></i>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin-product" routerLinkActive="active-link">
                    <i class="fas fa-mug-hot"></i>
                    <span>Product</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin-user" routerLinkActive="active-link">
                    <i class="fas fa-users"></i>
                    <span>User</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin-order" routerLinkActive="active-link">
                    <i class="fas fa-folder-open"></i>
                    <span>Order</span>
                </a>
            </li>
            <hr>
            <li class="accordion" id="accordionCategory">
                <a routerLink="/products" routerLinkActive="active-link" class="collapsed" data-toggle="collapse" data-target="#collapse-ul" aria-expanded="false" aria-controls="collapse-ul">
                    <span>Customer Side</span>
                </a>
                <ul class="list-unstyled navbar-list" id="collapse-ul" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCategory">
                    <li *ngFor="let category of categories">
                        <a routerLink="/category/{{ category.id }}/{{ category.name }}" routerLinkActive="active-link">
                            {{ category.name }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div *ngIf="isAdmin === 0" class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li *ngFor="let category of categories">
                <a routerLink="/category/{{ category.id }}/{{ category.name }}" routerLinkActive="active-link">
                    {{ category.name }}
                </a>
            </li>
        </ul>
    </nav>
</div>