<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div *ngIf="customer !== null" class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="{{ customer?.avatar }}" alt="">
                        <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                            <input id="selectFile" type="file" (change)=onUploadFiles($any($event.target).files[0]) name="file" class="file-uploader pull-left">
                            <!-- <button type="button" class="btn btn-sm btn-default-alt pull-left">Update Image</button> -->
                        </div>
                        <br>
                        <ul class="meta list list-unstyled">
                            <li class="name"><strong>{{ customer?.firstName }} {{ customer?.lastName }}</strong>
                                <br>
                                <label *ngIf="customer?.isAdmin === 1" class="label label-info">Admin</label>
                                <label *ngIf="customer?.isAdmin !== 1" class="label label-info">Customer</label>
                            </li>
                            <li class="email">
                                <h6>{{ customer?.email }}</h6>
                            </li>
                            <li class="activity">Join date: {{ customer?.dateCreated | date: 'short' }}</li>
                            <li class="activity">Last update: {{ customer?.lastUpdated | date: 'short'}}</li>
                        </ul>
                    </div>
                </div>
                <div class="content-panel">
                    <form [formGroup]="profileFormGroup" (ngSubmit)="onSubmit()" class="form-horizontal">
                        <h2 class="title">My Profile</h2>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Personal Info</h3>
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">First Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input formControlName="firstName" type="text" class="form-control">
                                    <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
                                        <div *ngIf="firstName?.errors?.required ||  firstName?.errors?.notOnlyWhitespace">
                                            First name {{ errMessage.isRequired }}
                                        </div>
                                        <div *ngIf="firstName?.errors?.minlength">
                                            First name {{ errMessage.validMinLength }}
                                        </div>
                                        <div *ngIf="firstName?.errors?.maxlength">
                                            First name {{ errMessage.validMaxLength }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">Last Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input formControlName="lastName" type="text" class="form-control">
                                    <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
                                        <div *ngIf="lastName?.errors?.required || lastName?.errors?.notOnlyWhitespace">
                                            Last name {{ errMessage.isRequired }}
                                        </div>
                                        <div *ngIf="lastName?.errors?.minlength">
                                            Last name {{ errMessage.validMinLength }}
                                        </div>
                                        <div *ngIf="lastName?.errors?.maxlength">
                                            Last name {{ errMessage.validMaxLength }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-sm-3 col-xs-12 control-label">Email</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input formControlName="email" type="text" class="form-control" readonly>
                                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
                                        <div *ngIf="email?.errors?.required">
                                            Email {{ errMessage.isRequired }}
                                        </div>
                                        <div *ngIf="email?.errors?.pattern">
                                            Email {{ errMessage.validEmail }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-primary" type="submit" value="Update Profile">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>